.modal-container {
    min-width: 500px;

    .modal-buttons-container{
        display: flex;
        width: 100%;
        padding-bottom: 40px;
        justify-content: center;
    }
    .modal-content-container{
        padding: 0 73px 30px 73px;
        
        p {
            text-align: center;
            font-size: 16px;
            line-height: 1.5;
            color: #003755;
            max-width: 306px;

        }
    }
    
    .close-container {
        width: 100%;
        .close-icon {
            float: right;
            width: 24px;
            height: 24px;
            margin: 8px;
            cursor: pointer;
        }
    }
    
}
